# --- Python / Streamlit App Ignore File ---
venv/
env/
*.pyc
__pycache__/
*.pkl
.DS_Store
*.log
.ipynb_checkpoints/
data/*.csv
data/*.xlsx

# Virtual environment folders
.venv/
env/
lexenv/
navalml/
machinery-health-monitoring-env/
*.egg-info/
build/
dist/

# IDE files
.vscode/
.idea/
*.iml

# OS files
Thumbs.db
